@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    :root {
      --background: 253 44% 98%;
      --foreground: 253 58% 0%;
      --muted: 253 7% 87%;
      --muted-foreground: 253 13% 37%;
      --popover: 253 44% 98%;
      --popover-foreground: 253 58% 0%;
      --card: 253 44% 97%;
      --card-foreground: 0 0% 0%;
      --border: 220 13% 91%;
      --input: 220 13% 91%;
      --primary: 253 91% 58%;
      --primary-foreground: 253 91% 98%;
      --secondary: 253 5% 89%;
      --secondary-foreground: 253 5% 29%;
      --accent: 253 12% 82%;
      --accent-foreground: 253 12% 22%;
      --destructive: 339.2 90.36% 51.18%;
      --destructive-foreground: 0 0% 100%;
      --ring: 253 91% 58%;
      --chart-1: 253 91% 58%;
      --chart-2: 253 5% 89%;
      --chart-3: 253 12% 82%;
      --chart-4: 253 5% 92%;
      --chart-5: 253 94% 58%;

       --radius: 0.5rem;


        --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
    }
  
    .dark {
      --background: 253 43% 3%;
      --foreground: 253 31% 98%;
      --muted: 253 7% 13%;
      --muted-foreground: 253 13% 63%;
      --popover: 253 43% 3%;
      --popover-foreground: 253 31% 98%;
      --card: 253 43% 4%;
      --card-foreground: 253 31% 99%;
      --border: 215 27.9% 16.9%;
      --input: 215 27.9% 16.9%;
      --primary: 253 91% 58%;
      --primary-foreground: 253 91% 98%;
      --secondary: 253 7% 9%;
      --secondary-foreground: 253 7% 69%;
      --accent: 253 13% 14%;
      --accent-foreground: 253 13% 74%;
      --destructive: 339.2 90.36% 51.18%;
      --destructive-foreground: 0 0% 100%;
      --ring: 253 91% 58%;
      --chart-1: 253 91% 58%;
      --chart-2: 253 7% 9%;
      --chart-3: 253 13% 14%;
      --chart-4: 253 7% 12%;
      --chart-5: 253 94% 58%;



       --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
    }
  }
  

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
/* 
@layer base {
    :root {
      --background: 134 41% 100%;
      --foreground: 134 63% 2%;
      --muted: 134 20% 94%;
      --muted-foreground: 134 15% 28%;
      --popover: 134 41% 100%;
      --popover-foreground: 134 63% 2%;
      --card: 134 41% 100%;
      --card-foreground: 134 63% 2%;
      --border: 134 12% 92%;
      --input: 134 12% 92%;
      --primary: 134 72% 52%;
      --primary-foreground: 134 72% 12%;
      --secondary: 134 10% 89%;
      --secondary-foreground: 134 10% 29%;
      --accent: 134 18% 84%;
      --accent-foreground: 134 18% 24%;
      --destructive: 5 90% 20%;
      --destructive-foreground: 5 90% 80%;
      --ring: 134 72% 52%;
      --chart-1: 134 72% 52%;
      --chart-2: 134 10% 89%;
      --chart-3: 134 18% 84%;
      --chart-4: 134 10% 92%;
      --chart-5: 134 75% 52%;
      --radius: 0.5rem;
    }
  
    .dark {
      --background: 134 46% 3%;
      --foreground: 134 32% 98%;
      --muted: 134 20% 6%;
      --muted-foreground: 134 15% 72%;
      --popover: 134 46% 3%;
      --popover-foreground: 134 32% 98%;
      --card: 134 46% 3%;
      --card-foreground: 134 32% 98%;
      --border: 134 12% 13%;
      --input: 134 12% 13%;
      --primary: 134 72% 52%;
      --primary-foreground: 134 72% 12%;
      --secondary: 134 4% 16%;
      --secondary-foreground: 134 4% 76%;
      --accent: 134 12% 21%;
      --accent-foreground: 134 12% 81%;
      --destructive: 5 90% 49%;
      --destructive-foreground: 0 0% 100%;
      --ring: 134 72% 52%;
      --chart-1: 134 72% 52%;
      --chart-2: 134 4% 16%;
      --chart-3: 134 12% 21%;
      --chart-4: 134 4% 19%;
      --chart-5: 134 75% 52%;
    }
  }
   */