@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    :root {
      --background: 259 33% 98%;
      --foreground: 259 50% 4%;
      --muted: 19 5% 91%;
      --muted-foreground: 19 1% 31%;
      --popover: 259 33% 98%;
      --popover-foreground: 259 50% 4%;
      --card: 259 33% 98%;
      --card-foreground: 259 50% 4%;
      --border: 259 9% 93%;
      --input: 259 9% 93%;
      --primary: 259 67% 48%;
      --primary-foreground: 0 0% 100%;
      --secondary: 19 67% 48%;
      --secondary-foreground: 0 0% 100%;
      --accent: 139 67% 48%;
      --accent-foreground: 139 67% 8%;
      --destructive: 21 82% 42%;
      --destructive-foreground: 0 0% 100%;
      --ring: 259 67% 48%;
      --chart-1: 259 67% 48%;
      --chart-2: 19 67% 48%;
      --chart-3: 139 67% 48%;
      --chart-4: 19 67% 51%;
      --chart-5: 259 70% 48%;
       --radius: 1rem;


        --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
    }
  
    .dark {
      --background: 259 41% 4%;
      --foreground: 259 27% 98%;
      --muted: 19 5% 9%;
      --muted-foreground: 19 1% 69%;
      --popover: 259 41% 4%;
      --popover-foreground: 259 27% 98%;
      --card: 259 41% 4%;
      --card-foreground: 259 27% 98%;
      --border: 259 9% 13%;
      --input: 259 9% 13%;
      --primary: 259 67% 48%;
      --primary-foreground: 0 0% 100%;
      --secondary: 19 67% 48%;
      --secondary-foreground: 0 0% 100%;
      --accent: 139 67% 48%;
      --accent-foreground: 139 67% 8%;
      --destructive: 21 82% 54%;
      --destructive-foreground: 0 0% 0%;
      --ring: 259 67% 48%;
      --chart-1: 259 67% 48%;
      --chart-2: 19 67% 48%;
      --chart-3: 139 67% 48%;
      --chart-4: 19 67% 51%;
      --chart-5: 259 70% 48%;



       --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
    }
  }
  

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

